<!doctype html>
<html>

<head>
    <title>Dibs List</title>
</head>

<body>
    <h1> 찜 리스트</h1>
    <div class="col-md-12">
        <div class="container">
            <div id="example1" class="list-group col">
                {% for list in dibs %}
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <p>{{ list.book_name }}</p>
                            <p>{{ list.book_author }}</p>
                            <p>{{ list.book_cateory }}</p>
                        </div>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>

</html>